<html>
        <head>
        <title>Enter a title, displayed at the top of the window.</title>
        </head>
    <!-- The information between the BODY and /BODY tags is displayed.-->
    <body>
        <% include nav %>
        <h1>Enter the main heading, usually the same as the title.</h1>
        <h4>You contacted <%= data.fName %> <%= data.lName %></h4>
        <p>His age is <%= data.age %></p>
    </body>
    </html>